<h2>About Us</h2>

<div class="about">
	<p>Located in Winnipeg, Sushi Rawr is one of the cheapest all you can eat sushi restaurant in the city. Open since 2000, Sushi Rawr has been serving wide variety of sushi, and other Japanese speacialty cuisine. With over 20 hardworking employees and skilled chefs that provides hight quality serving and best tasting dishes, it is difinitely a great place for susho lovers and first time sushi eaters.
	</p>
</div>