<h2>Checkout</h2>

<% @line_items.each do |line_item| %>
	<%= image_tag line_item.product.inspect, :width => '120' %>
	<p><strong>Quantity: </strong><%= line_item.quantity %></p>
	<p><strong>Price: </strong><%= number_to_currency line_item.price %></p>
<% end %>