<h2>Check Us out at</h2>

<div>
	<p>Polo Park Shopping Centre <br />1485 Portage Ave. Winnipeg, MB Canada R2R 2R2</p>

	<h4>Store Hours</h4>
		<p>
			Open Mon-Fri 9am-6pm
		</p>
	<h4>Location</h4>
		<iframe src="https://maps.ogogle.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Polo+Park,+Winnipeg,+MB&amp;aq=1&amp;oq=polo+&amp;sll=49.853822,-97.152225&amp;sspn=0.478124,1.259308&amp;ie=UTF8&amp;hq=Polo+Park,+Winnipeg,+MB&amp;t=m&amp;ll=49.881167,-97.32008&amp;spn=0.01438,0.032015&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Polo+Park,+Winnipeg,+MB&amp;aq=1&amp;oq=polo+&amp;sll=49.853822,-97.152225&amp;sspn=0.478124,1.259308&amp;ie=UTF8&amp;hq=Polo+Park,+Winnipeg,+MB&amp;t=m&amp;ll=49.881167,-97.32008&amp;spn=0.01438,0.032015" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>